<header class="sticky-top py-3 header-blur border-bottom">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center animate-float">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center text-white fw-bold me-2" style="width: 40px; height: 40px;">BE</div>
                <span class="fs-4 fw-bold text-primary">BOOST ECONOMIC</span>
            </div>
            
            <nav class="d-none d-md-flex align-items-center">
                <ul class="navbar-nav d-flex flex-row gap-4">
                    <li class="nav-item"><a href="#" class="nav-link fw-medium">Accueil</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-medium">Investir</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-medium">Projets</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-medium">Rendements</a></li>
                    <li class="nav-item"><a href="#" class="nav-link fw-medium">À propos</a></li>
                </ul>
            </nav>
            
            <div class="d-flex align-items-center gap-3">

                <div class="theme-switcher">
					<input type="radio" name="themes" id="ligth-theme">
					<label for="ligth-theme"><span><i class="fa-solid fa-sun-bright"></i>Light</span></label>

					<input type="radio" name="themes" id="black-theme">
                    <label for="black-theme"><span><i class="fa-solid fa-circle-half-stroke"></i>black</span></label>
					<span class="slider"></span>

				</div>

                <button class="btn animate-float btn-primary rounded-5 px-4 d-none d-md-block">Connexion</button>
                <button class="btn p-2 rounded-circle d-md-none">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
</header>

